.receita__botao {
    background: #8D0606;
    border-radius: 5px;
    color: #f4f4f4;
    font-size: 1.125rem;
    padding: 1rem;
    transition: all .1s ease-in-out;
}

.receita__botao:hover {
    background: #620404;
    cursor: pointer;
}